#main{
  max-width: 440px;
  /* height: 100vh; */
  overflow: auto;
}
.bg-grey {
  background-color: rgb(248, 248, 248) !important;
}
.form-control:focus {
  color: #212529;
  background-color: rgb(240, 240, 240) !important;
  box-shadow: unset;
}
.text-muted{
    color: rgb(186, 186, 186) !important;
}
.searchInput::placeholder{
    color: rgb(186, 186, 186) !important;
}
